# silly macOS
.DS_Store

# build files
build/

# editor config
.vscode/

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
ide_profiles/xcode/Debug/
ide_profiles/xcode/ExtendedKF.build/
cmake_install.cmake
CMakeCache.txt
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeOutput.log
CMakeFiles/feature_tests.bin
CMakeFiles/feature_tests.c
CMakeFiles/feature_tests.cxx
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.12.3/CMakeCCompiler.cmake
CMakeFiles/3.12.3/CMakeCXXCompiler.cmake
CMakeFiles/3.12.3/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.12.3/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.12.3/CMakeSystem.cmake
CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.12.3/CompilerIdC/CompilerIdC
CMakeFiles/3.12.3/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-all-non-framework-target-headers.hmap
CMakeFiles/3.12.3/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-all-target-headers.hmap
CMakeFiles/3.12.3/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-generated-files.hmap
CMakeFiles/3.12.3/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-own-target-headers.hmap
CMakeFiles/3.12.3/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-project-headers.hmap
CMakeFiles/3.12.3/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC.hmap
CMakeFiles/3.12.3/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/dgph
CMakeFiles/3.12.3/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Script-2C8FEB8E15DC1A1A00E56A5D.sh
CMakeFiles/3.12.3/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CMakeCCompilerId.d
CMakeFiles/3.12.3/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CMakeCCompilerId.dia
CMakeFiles/3.12.3/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CMakeCCompilerId.o
CMakeFiles/3.12.3/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CompilerIdC.LinkFileList
CMakeFiles/3.12.3/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CompilerIdC_dependency_info.dat
CMakeFiles/3.12.3/CompilerIdC/CompilerIdC.xcodeproj/project.pbxproj
CMakeFiles/3.12.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.12.3/CompilerIdCXX/CompilerIdCXX
CMakeFiles/3.12.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-all-non-framework-target-headers.hmap
CMakeFiles/3.12.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-all-target-headers.hmap
CMakeFiles/3.12.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-generated-files.hmap
CMakeFiles/3.12.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-own-target-headers.hmap
CMakeFiles/3.12.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-project-headers.hmap
CMakeFiles/3.12.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX.hmap
CMakeFiles/3.12.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/dgph
CMakeFiles/3.12.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Script-2C8FEB8E15DC1A1A00E56A5D.sh
CMakeFiles/3.12.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CMakeCXXCompilerId.d
CMakeFiles/3.12.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CMakeCXXCompilerId.dia
CMakeFiles/3.12.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CMakeCXXCompilerId.o
CMakeFiles/3.12.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CompilerIdCXX.LinkFileList
CMakeFiles/3.12.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CompilerIdCXX_dependency_info.dat
CMakeFiles/3.12.3/CompilerIdCXX/CompilerIdCXX.xcodeproj/project.pbxproj
CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeDebug
CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeMinSizeRel
CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeRelease
CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeRelWithDebInfo
CMakeScripts/ReRunCMake.make
CMakeScripts/XCODE_DEPEND_HELPER.make
CMakeScripts/ZERO_CHECK_cmakeRulesBuildPhase.makeDebug
CMakeScripts/ZERO_CHECK_cmakeRulesBuildPhase.makeMinSizeRel
CMakeScripts/ZERO_CHECK_cmakeRulesBuildPhase.makeRelease
CMakeScripts/ZERO_CHECK_cmakeRulesBuildPhase.makeRelWithDebInfo
Debug/ExtendedKF
ExtendedKF.build/Debug/ALL_BUILD.build/dgph
ExtendedKF.build/Debug/ALL_BUILD.build/Script-1F4CAE01F2C946F7AFE9B953.sh
ExtendedKF.build/Debug/ALL_BUILD.build/Script-3ECE12084CF545CBB66C4B0F.sh
ExtendedKF.build/Debug/ALL_BUILD.build/Script-60F6528276FD49959288A7AA.sh
ExtendedKF.build/Debug/ExtendedKF.build/dgph
ExtendedKF.build/Debug/ExtendedKF.build/Objects-normal/x86_64/ExtendedKF.LinkFileList
ExtendedKF.build/Debug/ExtendedKF.build/Objects-normal/x86_64/ExtendedKF_dependency_info.dat
ExtendedKF.build/Debug/ExtendedKF.build/Objects-normal/x86_64/FusionEKF.d
ExtendedKF.build/Debug/ExtendedKF.build/Objects-normal/x86_64/FusionEKF.dia
ExtendedKF.build/Debug/ExtendedKF.build/Objects-normal/x86_64/FusionEKF.o
ExtendedKF.build/Debug/ExtendedKF.build/Objects-normal/x86_64/kalman_filter.d
ExtendedKF.build/Debug/ExtendedKF.build/Objects-normal/x86_64/kalman_filter.dia
ExtendedKF.build/Debug/ExtendedKF.build/Objects-normal/x86_64/kalman_filter.o
ExtendedKF.build/Debug/ExtendedKF.build/Objects-normal/x86_64/main.d
ExtendedKF.build/Debug/ExtendedKF.build/Objects-normal/x86_64/main.dia
ExtendedKF.build/Debug/ExtendedKF.build/Objects-normal/x86_64/main.o
ExtendedKF.build/Debug/ExtendedKF.build/Objects-normal/x86_64/tools.d
ExtendedKF.build/Debug/ExtendedKF.build/Objects-normal/x86_64/tools.dia
ExtendedKF.build/Debug/ExtendedKF.build/Objects-normal/x86_64/tools.o
ExtendedKF.build/Debug/ZERO_CHECK.build/dgph
ExtendedKF.build/Debug/ZERO_CHECK.build/Script-1330FED6EFB04212B9682691.sh
ExtendedKF.build/Debug/ZERO_CHECK.build/Script-309E2ADED436450BAFE987DD.sh
ExtendedKF.build/Debug/ZERO_CHECK.build/Script-4D749FCC4728467694C60BF0.sh
ExtendedKF.xcodeproj/project.pbxproj
ExtendedKF.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings